.button{
    min-width: 150px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.button::before{
    content: "";
    filter: blur(5px);
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: var(--color-glow-gradiente);
    border-radius: 10px;
    display: block;
    background-size: 400%;
    top: -2px;
    left: -2px;
    z-index: -1;
    animation: glow 20s linear infinite;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.button:hover.button::before{
    opacity: 1;
}

@keyframes glow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}